body {
   background: #ccc;
   font-family: 'Lato', sans-serif;
}
#skole-dropdown {
   width: 250px;
}
#admin-top-info {
   width: 825px;
   height: 250px;
   margin: 35px auto;
}
#logout {
   width: 820px;
   height: 75px;
   text-align: center;
   line-height: 75px;
   background: #FFF;
   border: 1px solid #d5d5d5;
   color: #000 !important;
   text-decoration: none;
}
#logout:hover {
   background: #7ec59d;
   color: #FFF;
}
#logout-wrapper a {
   color: #000;
   text-decoration: none;
}
#logout-wrapper:hover {
   color: #FFF;
}
#logout-wrapper {
   width: 820px;
   height: 75px;
   margin: 50px auto;
}
.admin-top-box {
   width: 225px;
   height: 225px;
   padding: 15px;
   background: #FFF;
   border: 1px solid #d5d5d5;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   text-align: center;
   float: left;
}
#delete {
   width: 600px;
   height: 300px;
   padding-top: 50px;
   margin-bottom: 50px;
   margin: auto;
   text-align: center;
   color: #000;
   font-weight: bold;
}
.offset {
   margin-left: 25px;
}
.admin-top-box p {
   font-size: 5em;
   font-weight: bold;
   margin: 0;
}
.blue {
   color: #2e9bbe;
}
.red {
   color: #d53737;
}
.orange {
   color: #d29326;
}
input[type=date] {
   width: 744px;
   margin-left: 0px;
   padding-left: 15px;
   margin-top: 0px;
   border: 1px solid #CCC;
}
select {
   width: 760px;
   height: 45px;
   padding-left: 15px;
   text-align: center;
   line-height: 45px;
   border: 1px solid #CCC;
   font-size: 1em;
   color: #757575;
}
.add {
   width: 760px !important;
   margin-bottom: 20px;
}
#admin-container {
   width: 760px;
   height: auto;
   margin: auto;
   margin-bottom: 50px;
   background: #FFF;
   padding: 10px 30px;
   margin-top: 50px;
}
#admin-check {
   width: 780px;
   height: 200px;
   margin: auto;
   margin-bottom: 50px;
   background: #FFF;
   padding: 20px 20px;
   margin-top: 50px;
   text-align: center;
}
input {
   width: 400px;
   height: 40px;
   margin-left: 25px;
   margin-top: 50px;
   border: none;
   border-bottom: 1px solid #d9d9d9;
   font-size: 1.2em;
}
.submit-first {
   background: #7ec59d;
   height: 60px;
   color: #FFF;
   margin-top: 15px;
}
.submit-first:hover {
   background: #589974;
}
input[type=submit] {
   position: relative;
   width: 700px;
   background: #ff7061;
   margin-left: 0;
   color: #FFF;
   border: none;
   height: 60px;
}
input[type=submit]:hover {
   background: #c34d41;
}
input[type=date] {
   color: #757575;
   font-family: 'Lato', sans-serif;
}
input[type=radio] {
   width: 30px;
   height: 30px;
   line-height: 30px;
   float: left;
}
h3 {
   text-align: center;
   color: #757575;
}
#display-rows {
   width: 508px;
   min-height: 50px;
   margin: auto;
   border: 1px solid #e8e8e8;
   background: #FFF;
}
#top-row {
   width: 510px;
   height: 60px;
   text-align: center;
   line-height: 60px;
   background: #2b7aac;
   color: #FFF;
}
.admin-description {
   height: 42px !important;
}
.admin-row {
   width: 400px;
   height: 40px;
   padding: 5px 10px;
   line-height: 40px;
   margin: auto;
}
.admin-row:not(:last-child) {
   border-bottom: 1px solid #e8e8e8;
}
#admin-id {
   width: 30px;
   height: 30px;
   float: left;
}
#admin-edit {
   text-align: right !important;
   background: url(http://megaicons.net/static/img/icons_sizes/8/178/512/editing-edit-icon.png);
   background-size: cover;
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
   margin-top: 8px;
   float: right;
}
#admin-date {
   min-width: 150px;
   height: 40px;
   float: left;
}
#admin-title {
   width: 150px;
   height: 40px;
   float: left;
   overflow: hidden;
}
#admin-delete {
   text-align: right !important;
   background: url(http://findicons.com/files/icons/1580/devine_icons_part_2/128/trash_recyclebin_empty_closed.png);
   background-size: cover;
   background-repeat: no-repeat;
   height: 20px;
   width: 20px;
   margin-top: 8px;
   margin-right: 10px;
   float: right;
}
#arrangement-parent {
   width: 510px;
   min-height: 100px;
   height: auto;
   float: left;
}
#aktiviteter-parent {
   width: 510px;
   min-height: 100px;
   height: auto;
   float: right;
}
#row-parent {
   width: 1050px !important;
   height: auto;
   margin: auto;
   display: table;
   margin-bottom: 35px;
}
