body, html {
   margin: 0;
   font-family: 'Lato', sans-serif;
}
#event-container {
   width: 100%;
   max-width: 2560px;
   margin: auto;
   height: 600px;
   border-bottom: 1px solid #d9d9d9;
}
#event-left {
   width: 50%;
   height: 600px;
   float: left;
}
#event-right {
   width: 50%;
   height: 600px;
   float: left;
   overflow: hidden;
}
.event-small {
   width: 50%;
   height: 300px;
   float: left;
   background-size: cover;
}
.event-title-small {
   font-size: 2em !important;
   padding-top: 100px !important;
}
.event-starts-small {
   font-size: 1.2em !important;
}
.event-read-small {
   width: 150px !important;
   height: 40px !important;
   line-height: 40px !important;
}
.event-left {
   width: 100%;
   height: 600px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-shadow: inset 0 -150px 200px -150px #000;
   box-shadow: inset 0 -150px 200px -150px #000;
}
.main-title {
   text-align: center;
   padding: 35px;
}
.event-title {
   text-align: center;
   font-size: 3vw;
   font-weight: bold;
   padding-top: 200px;
   -moz-text-shadow: 0px 0px 6px #7E7E7E;
   -webkit-text-shadow: 0px 0px 6px #7E7E7E;
   text-shadow: 0px 0px 6px #7E7E7E;
   color: #FFF
}
.event-starts {
   text-align: center;
   color: #FFF;
   -moz-text-shadow: 0px 0px 6px #7E7E7E;
   -webkit-text-shadow: 0px 0px 6px #7E7E7E;
   text-shadow: 0px 0px 6px #7E7E7E;
   padding: 5px;
   font-size: 1.8em;
}
.event-read {
   width: 200px;
   height: 50px;
   margin: 15px auto;
   color: #FFF;
   border: 3px solid #FFF;
   text-align: center;
   line-height: 50px;
   -webkit-transition: all ease-in-out .2s;
   transition: all ease-in-out .2s;
   font-weight: bold;
}
.event-small a, .event-left a {
   text-decoration: none !important;
}
.event-read:hover {
   background: #FFF;
   color: #000;
}
.event-description {
   font-size: .8em;
   display: block;
}
#activity-container {
   max-width: 1275px;
   min-height: 450px;
   margin: auto;
   margin-bottom: 50px;
}
#activity-seeall {
   max-width: 1275px;
   height: 75px;
   text-align: center;
   line-height: 75px;
   margin: 0px auto 25px;
   border: 3px solid #000;
   color: #000;
   font-size: 1.2em;
   font-weight: bold;
}
#activity-seeall:hover {
   background: #3E6883;
   border: 3px solid #3E6883;
   color: #FFF;
}
.activity-box {
   width: 300px;
   height: 400px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 3px;
   -webkit-box-shadow: 0px 5px 12px #CCC;
           box-shadow: 0px 5px 12px #CCC;
   float: left;
}
.activity-box:not(:first-of-type) {
   margin-left: 25px;
}
.activity-upper {
   width: 300px;
   height: 250px;
   display: inline-block;
}
.visit {
   width: 200px;
   height: 50px;
   text-align: center;
   line-height: 50px;
   margin: auto;
   color: #000;
   border: 3px solid #000;
   font-weight: bold;
}
.visit:hover {
   background: #3E6883;
   border: 3px solid #3E6883;
   color: #FFF
}
.star {
   width: 24px;
   height: 24px;
   position: relative;
   top: 200px;
   left: 70px;
}
.activity-lower {
   width: 300px;
   height: 150px;
   display: inline-block;
   background: #FFF;
   text-align: center;
   color: #4E4E59;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
}
.activity-lower a {
   text-decoration: none;
}
.activity-lower h3 {
   margin: 0;
   margin-top: 10px;
}
#footer-container {
   width: 100%;
   height: 300px;
   background: #f2f2f2;
}
#footer-inner {
   width: 750px;
   height: 200px;
   padding-top: 50px;
   margin: auto;
   border-bottom: 1px solid #d9d9d9;
}
.sitemap {
   margin-right: 25px;
   float: left;
}
.sitemap a {
   text-decoration: none;
   color: #3E6883;
}
#footer-inner li {
   list-style: none;
   margin-top: 5px;
}
#footer-inner a:hover {
   text-decoration: underline;
}
#footer-bottom {
   width: 750px;
   height: 50px;
   line-height: 55px;
   font-size: .8em;
   text-align: center;
   margin: auto;

}
#map {
   width: 100%;
   height: 450px;
   background: #292929;
}
.no-scroll iframe{
    pointer-events: none;
}
#web-link {
   width: 180px;
   height: 55px;
   text-align: center;
   line-height: 55px;
   border: 3px solid #000;
   margin: auto;
   color: #000;
}
section a {
   text-decoration: none;
}
#web-link:hover {
   background: #000;
   color: #FFF;
}
#footer-bottom a:visited {
   color: black;
}
#footer-bottom a:hover {
   font-weight: bolder;
   text-decoration: underline;
}
@media only screen and (max-device-width: 1300px), screen and (max-width: 1300px) {
   .activity-box {
      width: 50%;
      -webkit-box-shadow: none;
              box-shadow: none;
   }
   .activity-upper {
      width: 100%;
   }
   .activity-lower {
      width: 100%;
   }
   .activity-box:not(:first-of-type) {
      margin-left: 0px;
   }

   #footer-bottom a:visited {
      color: black;
   }
   #footer-bottom a:hover {
      font-weight: bolder;
      text-decoration: underline;
   }
}
@media only screen and (max-device-width: 750px), screen and (max-width: 750px) {
   .footer-container {
      height: 900px;
      width: 100%;
      overflow: hidden;
   }
   .activity-box:not(:first-of-type) {
      margin-left: 0px;
   }
   .activity-box {
      width: 100%;
   }
   #activity-container {
      max-height: 1200px;
   }
   .star {
      left: 0px;
   }
   .activity-upper {
      width: 100%;
   }
   .activity-lower {
      width: 100%;
   }
   #footer-inner {
      height: 700px;
      width: 100%;
   }
   .sitemap {
      width: 100%;
   }
   .sitemap li {
      border-bottom: 1px solid #d9d9d9;
      padding: 7px 0px 7px 0px;
   }
   #footer-bottom {
      width: 100%;
      text-align: left;
      margin-left: 40px;
   }
   #footer-bottom a:visited {
    color: black;
}
   #footer-bottom a:hover {
    font-weight: bolder;
    text-decoration: underline;
}
}
@media only screen and (max-device-width: 1200px), screen and (max-width: 1200px)  {
   #activity-seeall {
      width: 400px;
      height: 75px;
      margin: auto;
   }
   #event-left {
      width: 100%;
   }
   #event-right {
      width: 100%;
      height: 350px;
   }
   .event-title {
      font-size: 3em;
   }
}

/* Innlogging footer*/

/* Full-width input fields */
input[type=text], input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}

/* Set a style for all buttons */
button {
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
}

button1:hover {
   color: #3d3d3d;
   cursor: pointer;
   text-decoration: underline;
}

button:hover {
   opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
   text-align: center;
   margin: 24px 0 12px 0;
   position: relative;
}

img.avatar {
   width: 20%;
}

.container {
   padding: 16px;
}

span.psw {
   float: right;
   padding-top: 16px;
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
   border: 1px solid #888;
   width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
   position: absolute;
   right: 25px;
   top: 0;
   color: #000;
   font-size: 35px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: red;
   cursor: pointer;
}

/* Add Zoom Animation */
.animate {
   -webkit-animation: animatezoom 0.6s;
   animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
   from {-webkit-transform: scale(0)}
   to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
   from {-webkit-transform: scale(0);transform: scale(0)}
   to {-webkit-transform: scale(1);transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
   span.psw {
      display: block;
      float: none;
   }
}
