body, html {
   margin: 0;
   font-family: 'Lato', sans-serif;
}
#event-container {
   width: 100%;
   height: 600px;
   border-bottom: 1px solid #d9d9d9;
}
#event-left {
   width: 50%;
   height: 600px;
   float: left;
}
#event-right {
   width: 50%;
   height: 600px;
   float: left;
   overflow: hidden;
}
.event-small {
   width: 50%;
   height: 300px;
   float: left;
}
.event-title-small {
   font-size: 2em !important;
   padding-top: 100px !important;
}
.event-starts-small {
   font-size: 1.2em !important;
}
.event-read-small {
   width: 150px !important;
   height: 40px !important;
   line-height: 40px !important;
}
.event-left {
   width: 100%;
   height: 600px;
   background-size: cover;
   flex-direction: column;
   -moz-box-shadow: inset 0 -150px 200px -150px #000;
   -webkit-box-shadow: inset 0 -150px 200px -150px #000;
   box-shadow: inset 0 -150px 200px -150px #000;
}
.event-title {
   text-align: center;
   font-size: 6em;
   font-weight: bold;
   padding-top: 200px;
   -moz-text-shadow: 0px 0px 6px #7E7E7E;
   -webkit-text-shadow: 0px 0px 6px #7E7E7E;
   text-shadow: 0px 0px 6px #7E7E7E;
   color: #FFF
}
.event-starts {
   text-align: center;
   color: #FFF;
   -moz-text-shadow: 0px 0px 6px #7E7E7E;
   -webkit-text-shadow: 0px 0px 6px #7E7E7E;
   text-shadow: 0px 0px 6px #7E7E7E;
   padding: 5px;
   font-size: 1.8em;
}
.event-read {
   width: 200px;
   height: 50px;
   margin: 15px auto;
   color: #FFF;
   border: 3px solid #FFF;
   text-align: center;
   line-height: 50px;
   transition: all ease-in-out .2s;
   font-weight: bold;
}
.event-read:hover {
   background: #FFF;
   color: #000;
}
.event-description {
   font-size: .8em;
   display: block;
}
@media only screen and (max-device-width: 1200px), screen and (max-width: 1200px)  {
   #event-container {
      height: 1200px;
   }
   #event-left {
      width: 100%;
   }
   #event-right {
      width: 100%;
   }
   .event-title {
      font-size: 3em;
   }
}
